$menuColorLight: #02735E;
$menuColorDark: #025951;
$HeaderText: #0D0D0D;
$progressBarColor: #0CF25D;
$logoText: #0CF25D;

/*Overall footer styling start*/

#footer {
    border-top: solid 4px $menuColorDark;
    width: 100%;
    background-color: $menuColorLight;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 0 0 10px 1px black;
}

/*Overall footer styling end*/

/*Footer content box styling start*/

#footerBox {
    max-width: 1440px;
    margin: auto;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

/*Footer content box styling end*/

/*Footer copyright notice styling start*/

#footerBox p {
    margin: 0;
    font-family: inherit;
    color: $HeaderText;
    text-shadow: none;
    font-weight: bold;
}

/*Footer copyright notice styling end*/

/*Footer social media links styling start*/

#footer nav a {
    transition: 0.2s ease-in;
    font-size: 24px;
    color: $HeaderText;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    padding: 8px;
    border-radius: 15px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer nav a:hover {
    color: $logoText;
    background-color: $menuColorDark;
    transform: scale(1.2);
}

/*Footer social media links styling end*/


/*Responsive design breakpoints*/

.footer-spacer {
    display: none;
    height: 80px;
    width: 100%;
}

/*Desktop only styling*/
@media only screen and (min-width: 1200px) {
    #footer {
        position: fixed;
        bottom: 0;
    }

    .footer-spacer {
        display: block;
    }
}