$menuColorLight: #02735E;
$menuColorDark: #025951;
$HeaderText: #0D0D0D;
$progressBarColor: #0CF25D;
$logoText: #0CF25D;

#footer {
    border-top: solid 4px $menuColorDark;
    bottom: 0;
    width: 100%;
    background-color: $menuColorLight;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 0 0 10px 1px black;
}

#footerBox {
    max-width: 1440px;
    margin: auto;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

#footerBox p {
    margin: 0;
}

#footer nav a {
    transition: 0.2s ease-in;
    font-size: 24px;
    color: $HeaderText;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    padding: 8px;
    border-radius: 15px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer nav a:hover {
    color: $logoText;
    background-color: $menuColorDark;
}

@media only screen and (min-width: 1200px) {
    #footer {
        position: fixed;
        bottom: 0;
    }
}