$menuColorLight: #02735E;
$menuColorDark: #025951;
$HeaderText: #0D0D0D;
$progressBarColor: #0CF25D;
$logoText: #0CF25D;

header {
    position: -webkit-sticky;
    position: sticky;
    font-family: 'Courier New', Courier, monospace;
    top: 0;
    box-shadow: 0 0 10px 1px black;
}

#banner {
    background-color: $menuColorLight;
    padding: 0;
}

#headerContainer {
    max-width: 1440px;
    margin: auto;
    display: flex;
    padding: 1em;
    justify-content: space-between;
    align-items: center;
}

.logo {
    min-width: 100px;
    flex-shrink: 1;
}

.progress-container {
    height: 8px;
    width: 100%;
    background-color: $menuColorDark;
}

.progress-bar {
    height: 8px;
    background-color: $progressBarColor;
    width: 0;
}

.navflex {
    display: flex;
    gap: 10px;
}

nav a {
    display: block;
    transition: 0.2s ease-in;
    font-size: 32px;
    color: $HeaderText;
    text-decoration: none;
    font-weight: bold;
    padding: 0.25em 0.5em;
    border-radius: 15px;
}

nav a:hover {
    color: $logoText;
    background-color: $menuColorDark;
    transform: scale(1.1);
}

/*Styling rules for mobile dropdown menu start*/

.bar {
    width: 35px;
    height: 5px;
    background-color: $HeaderText;
    margin: 6px 0;
    transition: 0.4s;
}

a.mobile {
    display: block;
    transition: 0.2s ease-in;
    font-size: 32px;
    color: $HeaderText;
    text-decoration: none;
    font-weight: bold;
    padding: 0.25em 0.5em;
    border-radius: 0;
}

a.mobile-menu {
    border-radius: 15px;
}

a.mobile:hover {
    color: $logoText;
    background-color: $menuColorDark;
    transform: scale(1.1);
}

a.mobile:hover .bar {
    background-color: $progressBarColor;
}

a.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

a.change .bar2 {
    opacity: 0;
}

a.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

nav.dropdown {
    background: $menuColorLight;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 95px;
}

/*Styling rules for mobile dropdown menu end*/

/* Responsive design rules start */

.desktop-block {
    display: none;
}

.desktop-flex {
    display: none;
}

.mobile {
    display: block;
}

@media only screen and (min-width: 1200px) {
    .desktop-block {
        display: block;
    }

    .desktop-flex {
        display: flex;
    }

    .mobile {
        display: none !important;
    }
}

/* Responsive design rules end */