$menuColorLight: #02735E;
$menuColorDark: #025951;
$HeaderText: #0D0D0D;
$progressBarColor: #0CF25D;
$logoText: #0CF25D;



header {
    /* Safari compat */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    font-size: 24px;
    background-color: $menuColorLight;
}

ul h1 {
    margin: 0;
    padding-left: 1em;
    vertical-align: middle;
    position: absolute;
    top: 16px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 28px;
    transition: font-size 0.1s;
    color: $logoText;
}

header ul.horizontal {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $menuColorLight;
}

li.horizontal a {
    display: none;
    font-family: sans-serif;
    color: $HeaderText;
    text-align: center;
    padding: 24px 16px;
    text-decoration: none;
    transition: background-color 0.2s;
    float: right;
}

li.horizontal a:hover {
    background-color: $menuColorDark;
    transform: scale(1.1);
    transition: transform 0.2s ease-in;
}

li.horizontal a.sidebutton {
    display: block;
    font-family: sans-serif;
    color: $HeaderText;
    text-align: center;
    padding: 13.5px 13.5px;
    text-decoration: none;
    transition: background-color 0.2s;
}

li.horizontal a.sidebutton:hover {
    background-color: $menuColorDark;
}

.bar {
    width: 35px;
    height: 5px;
    background-color: $HeaderText;
    margin: 6px 0;
    transition: 0.4s;
}

a.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

a.change .bar2 {
    opacity: 0;
}

a.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

ul.vertical {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $menuColorLight;
    display: flex;
    flex-direction: column;
}

li.vertical a {
    display: block;
    font-family: sans-serif;
    color: $HeaderText;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    transition: background-color 0.2s;
}

.progress-container {
    height: 8px;
    width: 100%;
    background-color: $menuColorDark;
}

.progress-bar {
    height: 8px;
    background-color: $progressBarColor;
    width: 0;
}

#sideMenu {
    display: none;
    background-color: $menuColorLight;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.social-links-vertical {
    margin: 8px;
    display: flex;
    gap: 8px;
}

.sideMenu a {
    transition: background-color 0.2s;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: $HeaderText;
    padding: 8px;
}

.sideMenu a:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in;
    background-color: $menuColorDark;
}

.social-links-vertical a {
    border-radius: 50%;
    padding: 8px;
}

.social-links-vertical i {
    padding: 8px;
}

@media only screen and (min-width: 321px) {
    ul h1 {
        top: 16px;
        font-size: 32px;
    }
}

@media only screen and (min-width: 1113px) {
    li.horizontal a {
        display: block;
    }

    li.horizontal a.sidebutton {
        display: none;
    }

    ul h1 {
        top: 14px;
        font-size: 48px;
    }
}