@import url('https://fonts.googleapis.com/css2?family=Mate&display=swap');

$bodyColor: #034159;
$textColor: white;
$HeaderText: #0D0D0D;
$nameTextDefault: #038C3E;
$nameTextHover: #0CF25D;
$menuColorLight: #02735E;
$menuColorDark: #025951;

#main {
    min-height: 60vh;
    margin: 30px 0;
    display: flex;
}

hr {
    width: 80%;
    margin: 4px;
    color: $nameTextDefault;
}

p {
    font-size: 20px;
    color: $textColor;
    font-family: 'Mate', serif;
    text-shadow: 0.15rem 0.15rem 0.2rem black;
}

label {
    font-size: 20px;
    color: $textColor;
    font-family: 'Mate', serif;
    text-shadow: 0.15rem 0.15rem 0.2rem black;
    display: block;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

h1 {
    font-size: 48px;
    color: $textColor;
    font-family: 'Mate', serif;
    text-shadow: 0.15rem 0.15rem 0.2rem black;
}

h2 {
    font-size: 28px;
    color: $textColor;
    font-family: 'Mate', serif;
    text-shadow: 0.15rem 0.15rem 0.2rem black;
}

h3 {
    font-size: 24px;
    color: $textColor;
    font-family: 'Mate', serif;
    text-shadow: 0.15rem 0.15rem 0.2rem black;
}

.link {
    color: $nameTextDefault;
    transition: color 0.2s ease-in, transform 0.2s ease-in;
    text-shadow: 0.15rem 0.15rem 0.2rem black;
}

.link:hover {
    color: $nameTextHover;
}

.content-box-home {
    margin: auto;
    max-width: 1440px;
    padding: 0 1em;
    height: 100%;
    gap: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.content-box-home img {
    width: 400px;
    max-width: 80%;
    height: auto;
    align-self: center;
    border-radius: 50%;
    box-shadow: 0 0 10px 1px black;
}

.content-box-home .text-box {
    max-width: 40em;
    height: auto;
}

.content-box-about {
    margin: auto;
    max-width: 1440px;
    padding: 0 1em;
    height: 100%;
    gap: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.content-box-about p {
    margin: 8px 0 !important;
}

.content-box-examples {
    margin: auto;
    max-width: 1440px;
    padding: 0 1em;
    height: 100%;
    gap: 32px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.content-box-error {
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 1em;
    height: 100%;
    gap: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.content-box-contact {
    margin: auto;
    max-width: 1440px;
    padding: 0 1em;
    height: 100%;
    gap: 16px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

body {
    margin: 0;
    background-color: $bodyColor;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}

/*Contact form rules start*/

.contact-form {
    margin: auto;
    width: 50vw;
    display: flex;
    flex-direction: column;
    gap: 4px;
    background-color: $menuColorLight;
    padding: 8px;
    border-radius: 15px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contact-form input {
    width: 300px;
    height: 2em;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    padding: 8px;
    border-radius: 5px;
    border-style: none;
    box-sizing: border-box;
    background-color: $menuColorDark;
    flex-grow: 1;
}

.contact-form textarea {
    width: 100%;
    border-style: none;
    border-radius: 5px;
    padding: 8px;
    font-family: 'Courier New', Courier, monospace;
    height: 200px;
    resize: vertical;
    box-sizing: border-box;
    font-size: 20px;
    background-color: $menuColorDark;
}

.contact-form button {
    width: 200px;
    height: 50px;
    align-self: center;
    color: $HeaderText;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: none;
    font-weight: bold;
    font-size: 24px;
    background: none;
    border-style: none;
    border-radius: 15px;
    transition: all 0.2s ease-in;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: $menuColorDark;
    color: $nameTextHover;
}

.contact-form p {
    color: $HeaderText;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: none;
    font-weight: bold;
    font-size: 24px;
}

.notification {
    text-align: center;
}

.success {
    color: $nameTextHover !important;
}

.error {
    color: #f20c0c !important;
}

.contact-column {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
}

.contact-row {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
}

/*Contact form rules end*/

.contact-links {
    width: 60%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.contact-links h2 {
    align-self: center;
}

.contact-links a {
    font-size: 24px !important;
}

.spotlight-links {
    display: flex;
    gap: 20px;
}

.spotlight-links .link {
    font-size: 48px;
}

@media only screen and (min-width: 1200px) {}