@import url('https://fonts.googleapis.com/css2?family=Mate&display=swap');

$bodyColor: #034159;
$textColor: white;
$nameTextDefault: #038C3E;
$nameTextHover: #0CF25D;

#main {
    margin: 0 20%;
}

#main p {
    font-size: max(1.2vw, 16px);
    color: $textColor;
    font-family: 'Mate', serif;
    text-shadow: 0.2vw 0.2vw black;
    text-shadow: 0.15rem 0.15rem 0.2rem black;
}

#main h2 {
    font-size: max(1.5vw, 24px);
    color: $textColor;
    font-family: 'Mate', serif;
    text-shadow: 0.15rem 0.15rem 0.2rem black;
}

.name {
    color: $nameTextDefault;
    transition: color 0.2s ease-in;
}

.name:hover {
    color: $nameTextHover;
}

.content-box {
    gap: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10% 0;
}

.content-box img {
    width: 50%;
    height: auto;
    align-self: center;
    border-radius: 50%;
    box-shadow: 0 0 10px 1px black;
}

.content-box .text-box {
    width: 100%;
    height: auto;
}

body {
    margin: 0;
    background-color: $bodyColor;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
}

#about-me {
    margin: 20px 0;
}

@media only screen and (min-width: 1300px) {
    .content-box {
        flex-direction: row;
        margin-top: 50px;
    }

    .content-box img {
        width: 50%;
        height: auto;
    }

    .content-box .text-box {
        width: 50%;
        height: auto;
    }
}